{% extends 'jdb_nav.html' %}

{% block content %}

<h1>{{ titre }}</h1>

<div class="ConsultRech">

  <form method="get">

    <div>Recherche : </div>
      <label for="title_search"></label>
      <input name="title_search" type="text" value="{{ title_search }}">

    <div>Rechercher dans :</div>
      <label for="search_where"></label>	
      <select name="search_where" value="{{search_where}}">
        <option value="libellé"{% if search_where == 'libellé' %} selected="selected"{% endif %}>Libellé de l'offre</option>
        <option value="corps"{% if search_where == 'corps' %} selected="selected"{% endif %}>Corps de l'offre</option>
      </select>

    <div>Trier par :</div>
    <label for="order_by"></label>
    <select name="order_by">
      <option value="libellé"{% if order_by == 'libellé' %} selected="selected"{% endif %}>Libellé</option>
      <option value="perti_auto"{% if order_by == 'perti_auto' %} selected="selected"{% endif %}>Pertinence</option>
      <option value="date_publica"{% if order_by == 'date_publica' %} selected="selected"{% endif %}>Date</option>
    </select>
    <select name="sort" value="{{ sort }}">
      <option value="descending"{% if sort == 'descending' %} selected="selected"{% endif %}>Décroissant</option>
      <option value="ascending"{% if sort == 'ascending' %} selected="selected"{% endif %}>Croissant</option>
    </select>

    <label for="limit">Résultats par pages :</label>
    <input name="limit" type="number" value="{{ limit }}" min="1" max="100">

    <input type="submit" value="Rechercher">
  </form>
  <div class="ConsultResu">{{ nb_results }} résultats</div>

  <div class="ConsultNav">
    {% if prev_url %}
      <a href="{{ prev_url }}"><div class="ConsultNavBtn">Précédant</div></a>
    {% endif %}

    {% if next_url %}
      <a href="{{ next_url }}" disabled><div class="ConsultNavBtn">Suivant</div> </a>
    {% endif %}
  </div>
  
</div>

<div>
  {% for offre in offres %}
  <div class="FlexContainer">
    <div class="ConsultListOffres">
      <div class="ConsultTitre">{{ offre.libellé }}</div>
      <div class="ConsultCorps">{{ offre.corps }}</div>
    </div>
    <div class="ConsultEtiquettes" >
      <div><a href="{{ offre.lien_source }}" target="_blank"><div class="ConsultBtn">{{ offre.source }}</div></a></div>
      <div class="ConsultEtiq">Pertinence : {{ offre.perti_auto }}</div>
      <div class="ConsultEtiq">Publiée le : {{ offre.date_publica }}</div>
      <div><img src="{{ url_for('static', filename='image/spacer.gif') }}" width="180" height="1"/></div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
