{% extends 'jdb_nav.html' %}

{% block content %}

<h1>{{ titre }}</h1>

<div class="FlexGraph">
  <div class="FlexBox">
    <a href="data:image/png;base64,{{ GraphA }}" target="_blank">
      <div class="GraphTitre">Répartition géographique</div>
      <img src='data:image/png;base64,{{ GraphA }}' width="650px"/>
    </a>
  </div>

  <div class="FlexBox"><img src="{{ url_for('static', filename='image/spacer.gif') }}" width="40px"/></div>

  <div class="FlexBox">
    <a href="data:image/png;base64,{{ GraphB }}" target="_blank">
      <div class="GraphTitre">Types de contrats</div>
      <img src='data:image/png;base64,{{ GraphB }}' width="650px"/>
    </a>
  </div>

  <div class="FlexBox">
    <a href="data:image/png;base64,{{ GraphC }}" target="_blank">
      <div class="GraphTitre">Pertinence du programme de la promo</div>
      <img src='data:image/png;base64,{{ GraphC }}' width="650px"/>
    </a>
  </div>

  <div class="FlexBox"><img src="{{ url_for('static', filename='image/spacer.gif') }}" width="40px"/></div>

  <div class="FlexBox">
    <a href="data:image/png;base64,{{ GraphD }}" target="_blank">
      <div class="GraphTitre">Nombre d'offres où le langage/techno est mentionné</div>
      <img src='data:image/png;base64,{{ GraphD }}' width="650px"/>
    </a>
  </div>

  <div class="FlexBox">
    <a href="{{ url_for('static', filename='image/wip.png') }}" target="_blank">
      <div class="GraphTitre">Work in progress</div>
      <div>
        <div><img src="{{ url_for('static', filename='image/wip.png') }}" height="250px"/></div>
        <div><img src="{{ url_for('static', filename='image/spacer.gif') }}" width="650px" height="1px"/></div>
      </div>
    </a>
  </div>

  <div class="FlexBox"><img src="{{ url_for('static', filename='image/spacer.gif') }}" width="40px"/></div>

  <div class="FlexBox">
    <a href="{{ url_for('static', filename='image/wip.png') }}" target="_blank">
      <div class="GraphTitre">Work in progress</div>
      <div>
        <div><img src="{{ url_for('static', filename='image/wip.png') }}" height="250px"/></div>
        <div><img src="{{ url_for('static', filename='image/spacer.gif') }}" width="650px" height="1px"/></div>
      </div>
    </a>
  </div>

</div>

<div class='StatLignes'>
  <a href=""><div class='LigneBtn'><b>{{ TotalOffresPython }}</b> offres avec le terme "Python"</div></a>
</div>

{% endblock %}

