{% extends 'jdb_nav.html' %}

{% block content %}

  <h1>{{ titre }}</h1>
    
  <div class='StatLignes'>
    <a href="">
      <div class='LigneBtn'><b>{{ TotalOffresPython }}</b> offres avec le terme "Python"</div></a>
    <a href="">
      <div class='LigneBtn'><b>{{ TotalOffresSql }}</b> offres avec le terme "SQL"</div>
    <a href="">
      <div class='LigneBtn'><b>{{ TotalOffresData }}</b> offres avec le terme "Data" ou "Bigdata"</div>
    <a href="">
      <div class='LigneBtn'><b>{{ TotalOffresPerti3 }}</b> offres analysées comme tres pértinentes vis-à-vis de la formation</div>
  </div>

{% endblock %}
