{% extends 'jdb_nav.html' %}

{% block content %}

  <h1>{{ titre }}</h1>
  
  <div>
    <div class="FlexCentre"><img src="{{ url_for('static', filename='image/wip.png') }}" width="400"></div>
    <div class="FlexCentre">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>

{% endblock %}
